

/* Add a black background color to the top navigation */
.footer {
    width: 100%;
    background-color: white;
    overflow: hidden;
    opacity: 0.3;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  /* Style the links inside the navigation bar */
  .footer a {
    padding: 14px 22px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .footer a:hover {
    font-size: 120%;
    opacity: 0.6;
  }
  
  /* Add a color to the active/current link */
  .footer a.active {
    opacity: 0.9;
  }
