<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css"> 
    <link rel="stylesheet" href="/CSS/rotation.css"> 
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/homebutton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/CSS/rotation.css"> 
    <link rel="stylesheet" href="../static/CSS/index.css"> 
    <link rel="stylesheet" href="../static/CSS/footer.css"> 
    <link rel="stylesheet" href="../static/CSS/homebutton.css"> 

    <title>Document</title>
</head>
<body>
    <h1>
        MuskHaveCars
    </h1>

        
    <div class="image">
        <section id="rotating-section">

            <div id="rotating-animation">
                <div>
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                    <div class="rect6"></div>
                    <div class="rect7"></div>
                    <div class="rect8"></div>
                    <div class="rect9"></div>
                    <div class="rect10"></div>
                    <div class="rect11"></div>
                    <div class="rect12"></div>
                    <div class="rect13"></div>
                    <div class="rect14"></div>
                    <div class="rect15"></div>
                    <div class="rect16"></div>
                    <div class="rect17"></div>
                    <div class="rect18"></div>
                    <div class="rect19"></div>
                    <div class="rect20"></div>
                </div>
            </div>
        </section>
  
        <div class="top-left">        
            <a th:href="@{page1}"><button class="btn"><i class="fa fa-home"> HOME</i></button></a>
        </div>
    </div>
    
    

 

    <div>
        <h2>Contact us!</h2>
        <p>
        Grundades i Chicago 1918 och kom till Stockholm 1960.
        </p>
        <p>
            Grundades i Chicago 1918 och kom till Stockholm 1960.
            </p>
            <p>
                Grundades i Chicago 1918 och kom till Stockholm 1960.
                </p>
                <p>
                    Grundades i Chicago 1918 och kom till Stockholm 1960.
                    </p>



    </div>

    <br><br><br><br>

    <!-- footer / bottom navbar -->
<div class="footer">
    <a th:href="@{/About}">About us</a>
    <a th:href="@{/Sustainability}">Sustainability</a>
    <a th:href="@{ContactUs}">Contact us</a>
</div>

</body>
</html>