<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fill in your information</title>
    <link rel="stylesheet" href="../CSS/page3.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
     </head>
  <body>
    <nav class="navbar">
      <img alt="elon musk" src="../Images/elonmusk.png" />
      <div class="menu-options">
        <p id="white"> 1. Welcome</p>
        <p id="white"> 2. Car of choice</p>
        <p id="white"> 3. Sustainability</p>
        <p id="white">4.Customer information</p>
        <p id="orange">✔ 5. Booking Confirmation</p>
      </div>
      <br>
    </nav>

    <br>
    <br>
    <br>
    <br>
    
    <div class="main-container">
      <!-- <div class="d-flex"> -->
        <div class="booking">
            <label>Confirmation ID</label>
            <input type="name" class="form-control" placeholder="Confirmation ID">
        </div> 

        <div class="d-flex">
          <div class="booking">
              <label>Confirmation </label>
              <input type="name" class="form-control" placeholder="Confirmation">
          </div> 

        <div class="d-flex">
          <div class="booking">
              <label>Description</label>
              <input type="name" class="form-control" placeholder="Description">
          </div> 
          <div class="d-flex">
            <div class="booking">
                <label>Range</label>
                <input type="name" class="form-control" placeholder="Range">
            </div> 
            <div class="d-flex">
              <div class="booking">
                  <label>Segment</label>
                  <input type="name" class="form-control" placeholder="Segment">
              </div> 
              <div class="d-flex">
                <div class="booking">
                    <label>Total Price</label>
                    <input type="name" class="form-control" placeholder="Total Price">
                </div> 

      <!-- <form action="myControllerThatHandlesThePOST" method="POST"> -->

          </div>

            <div class="field">
              <label for="Submit" class="btn-submit">submit</label>
              <input type="Submit" name="Submit" id="Submit">
            </div>


        
      </div>
    </div>

    <!--     <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script> 
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
