<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/CSS/page1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <article class="cars">

    </article>


    <script src="/JavaScript/page2.js"></script>

    <!-- <script>


    const grabCars = document.querySelector(".cars")

    
    async function getAllCars() {
        let carArray = await fetch('http://localhost:8080/cars')
        return await carArray.json()

    }

    printCars()
    async function printCars() {
        let bilar = await getAllCars()
        let html = `<form action="/test">
            <div class="container text-center">
            <div class="row">`

        let i = 0;
        for (let c of bilar) {
            i++
            if (i <= 3) {

                html += `                    <div class="col">
                        <img src="/${c.carName}.png" class="img-fluid" alt="...">
                        <div class="carText">
                            <div class="fw-semibold">Car:
                                <span class="fw-normal">${c.carName}</span>
                            </div>
                            <div class="fw-semibold">Description:
                                <span class="fw-normal">${c.description}</span>
                            </div>
                            <div class="fw-semibold">Range:
                                <span class="fw-normal">${c.range}</span>
                            </div>
                            <div class="fw-semibold">Segment:
                                <span class="fw-normal">Normal weight text.</span>
                            </div>
                            <div class="fw-semibold">Price:
                                <span class="fw-normal">Normal weight text.</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Primary</button>
                    </div>`

            }

            if (i > 2) {
                html += `<div class="row">`
                i = 0;

            }   
        }

    

        html += `</div></div></form>`

        grabCars.innerHTML = html

    }


    </script> -->


</body>

</html>