<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/CSS/page2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <nav class="navbartest">
        <img alt="elon musk" class="elon" src="/Images/customerHeader.png" />
        <div class="menu-options">
            <a id="white" href="javascript:history.back()"> 1. Book a car</a>
            <p id="orange"> ✔ 2. Car of choice</p>
            <p id="white"> 3. Customer information</p>
            <p id="white"> 4. Booking Confirmation</p>
        </div>
        <br>
    </nav>


    <article class="cars">

    </article>


    <script src="/JavaScript/page2.js"></script>


</body>

</html>